# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.rc
.terraform.lock.hcl

# Sensitive files
terraform.tfvars
project-key.pem

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/